.topnav {
	float: right;
	font-size: 25px;
	word-spacing: 10px;
	text-decoration: none;
	background: bisque;
	border-bottom-width: 5px;
}

header {
	background: bisque;
	padding: 20px 100px 20px 32px;
	border-bottom-color: black;
}

img {
	float: left;
}

h1 {
	text-align: center;
	font-size: 40px;
	border-bottom-color: black;
	
}

h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;	background-color: rgb(172, 182, 182); 
	border-radius: 150px;
	border-bottom-color: black;
}

main {
	width: 55%;
	background-color: #ddd;
	padding: 100px;
}

#contact {
	font-size: 30px;
	padding: 0px 10px 10px 32px;
	text-align: center;
	float: right;
	text-decoration: none;
}

p {
	width: 1550px;
	font-size: 20px;
	line-height: 25px;
	display: inline-block;
}

img {
	float: left;
	margin: 16px;
}

.sidebar {
	float: right;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	background-color: whitesmoke;
	border: 5px dotted;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: radial-gradient(#ddd 1px, transparent 1px),
		radial-gradient(#ddd 1px, transparent 1px);
	background-position: 0 0, 25px 25px;
	background-size: 50px 50px;
	background-attachment: fixed;
}

.sidebar li {
	margin: 20px;
	padding: 10px 10px 10px 10px;
}

li {
	list-style-type: none;
}

.topof {
	font-size: 20px;
	list-style-type: none;
	padding: 10px;
	text-decoration-line: underline;
}

aside {
	padding: 10px;
	background: bisque;
	color: blue;
	font-size: 20px;
	text-align: center;
	padding: 100px;
}

.bnav {
	font-size: 20px;
	padding: 100px;
}