.topnav {
    float: right;
    font-size: 25px;

}

h1 {
    text-align: center;
    font-size: 50px;
}
h2 {
    font-size: 30;
    font-weight: bold;

}
p {
    width: 1550px;
    font-size: 20px;
    background-color: whitesmoke;
    display: block;
}

img {
    float: left;
    margin: 16px;
}

.sidebar {
    float: right;
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: inline-block;
    background-color: whitesmoke;
}

body {
    background-image: radial-gradient(#ddd 1px, transparent 1px),
        radial-gradient(#ddd 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    background-attachment: fixed;
}

.sidebar li {
    list-style-type: none;
    margin: 20px;
}

.topof {
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    padding: 10px 10px 10px 32px;
}